/bin/
/.cache
/.cache-main
/Cache/
/LGE2012reports/
/State2015Reports/
/Federal2013Reports/
/NSWLGE2012Bug10000Runs/
/LocalGovernmentNSW2012_All.html
/LocalGovernmentNSW2012_NotOfficial.html
/LocalGovernmentNSW2012_Stochastic.html
/LocalGovernmentNSW2012_StochasticElected.html
/Federal2016Reports/
/Michele/
/TamperReports/
/LGE2016reports/
/NSWExtremenessReports/
/WA2016Reports/
/WA2013Reports/
